.GymCooch {
  display: grid;
  grid-template-columns: 20px 2fr 4fr 2fr 20px;
  /* gap: 2rem; */
  border: solid red;
  margin-top: 6.5rem;
}

.devDes {
  border: solid black;
  height: 100%;
  width: 25rem;
  margin-bottom: 2rem;
  /* box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75); */
}

.devPosts {
  border: solid black;
  height: 90%;
}

.devChat {
  border: solid black;
  height: 90%;
}

.ImgCoachGym {
  width: 20rem;
  height: 20rem;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hamish {
  padding: 0.5rem;
}

.styleButton12 {
  margin-top: 0.5rem;
  border-color: #2cccc4;
  color: black;
  font-weight: 600;
  width: 9rem;
  margin-left: 0.2rem;
  /* margin-right: 2rem; */
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.buttonLeft {
  margin-left: 0.7rem;
}
.favButton {
  margin-top: 1.5rem;
  margin-left: 1.7rem;
}

.NameLabel {
  font-weight: 600;
  font-family: Oswald, sans-serif;
  width: 30rem;
  font-size: 2.5rem;
}
.DesLabel {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  width: 20rem;
  margin-bottom: 1rem;
}
.nameDesLabelDiv {
  /* margin-left: 5.5rem; */
}

.devPosts {
}
.postPhotoInfoPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* gap: 2rem; */
  border: solid green;
  margin-top: 1.5rem;
}
.colPostAndComments {
  border: solid orange;
}
.row1Post {
  border: solid yellow;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row2Comments {
  border: solid yellow;
}
