.body1 {
  background-image: url("https://i.ibb.co/bRBH7r7/Remini20210706001710208.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.classImage{
  padding: 60px ;
  padding-bottom: 16rem;
}

.pointer{
  cursor:pointer;
}
@media all and (min-width: 480px) {
  .SignUp {
    padding: 60px 0;
  }
  .SignUp form {
    margin: 0 auto;
    max-width: 320px;
  }
  .form-group {
    margin-bottom: 0.3rem;
  }
}
.RegisterSelectSignUp{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RegisterSelect{
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styleSelectSignUp{
  margin-left: 14rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}
.SignUpSelect {
  margin-top: 12rem;
  margin-left: 12rem;
  border-radius: 0.5rem;
  background-color: #dee2e6;
  width: 30rem;
  height: 18rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
}
.SignUpUser {
  margin-top: 4rem;
  margin-left: 16rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #dee2e6;
  width: 30rem;
  height: 39rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
}

.SignUpGymCoach {
  margin-top: 2rem;
  margin-left: 16rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #eeeeee;
  width: 35rem;
  height: 43rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
}

.marg {
  margin-top: 0.7rem;
}

.tostMassage {
  border-color: #eeeeee;
  width: 30rem;
  height: 5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-top: -2rem;
}
