.pointer {
  cursor: pointer;
}

@media all and (min-width: 680px) {
  .SignUp1 {
    padding-bottom: 1rem;
    padding-top: 0.2rem;
  }
  .textStyle {
    font-weight: bold;
    font-size: 1.9rem;
    text-align: left;
    font-family: Oswald;
    padding-top: 0.2rem;
  }

  .SignUp1 form {
    margin: 0 0;
    border-color: #2cccc4;
    padding: 3.5rem;
    box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  }
  .SignUp1 .CG form{
  padding-top: -2rem;
}
  .container1 {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46rem;
    top: 20%;
    left: 20%;
    max-height: 43rem;
    z-index: 12;
  }

  .pointer {
    cursor: pointer;
  }

  .loginImage1 {
    width: 32rem;
    height: 46rem;
    border-radius: 0px;
    box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  }

  .styleButton1 {
    margin-top: 0.5rem;
    border-color: #2cccc4;
    color: black;
    font-weight: 400;
  }
}

@media all and (min-width: 1175px) {
  .classImage {
    padding: 0.5rem;
    margin: 2rem;
  }
  .SignUp {
    padding: 60px 0;
  }
  .SignUp form {
    margin: 0 auto;
    max-width: max-content;
    max-height: min-content;
  }
  .form-group {
    margin-bottom: 0.3rem;
  }

  .RegisterSelectSignUp {
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    font-family: Oswald, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RegisterSelect {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styleSelectSignUp {
    margin-left: 14rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .SignUpSelect {
    /* background-color: #fffdff; */
    width: auto;
    height: auto;
    box-shadow: 1px 4px 8px -12px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 1px 8px 34px -12px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    background-image: url("https://i.ibb.co/Bn1qmJ9/ishan-seefromthesky-Kg-Cbv-OWYu-U0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    display: grid;
    max-width: 70rem;
    padding: 0px 0px;
    top: 25%;
    left: 20%;
    z-index: 12;
  }

  .CardDeckMarg {
    margin: 2rem;
  }

  .SignUpGymCoach {
    margin-top: 2rem;
    margin-left: 16rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #eeeeee;
    width: 30rem;
    height: 43rem;
    box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  }

  .marg {
    margin-top: 0.7rem;
  }

  .tostMassage {
    border-color: #eeeeee;
    width: 30rem;
    height: 5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: -2rem;
  }

  .styleButton2 {
    background-color: #2cccc4;
    border-color: #2cccc4;
    color: black;
    font-weight: 400;
  }

  .imageCard {
    width: 10rem;
    height: 10rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
  .textLeft {
    /* text-align: left; */
    padding-left: 5rem;
  }
}
/* ************************************************************************ */
/*              New Style to be responsive  1175px to 1768px                */
/* ************************************************************************ */
@media all and (max-width: 1175px) {
  .classImage {
    padding: 0.1rem;
    margin: 0.5rem;
  }
  .SignUp {
    padding: 30px 0;
  }
  .SignUp form {
    margin: 0 auto;
    max-width: min-content;
    max-height: min-content;
  }
  .form-group {
    margin-bottom: 0.1rem;
  }

  .RegisterSelectSignUp {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Oswald, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RegisterSelect {
    /* margin-top: 2.8rem;
    margin-left: 2.8rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .styleSelectSignUp {
    margin-left: 0.7rem;
    padding-top: 60rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
  } */
  .SignUpSelect {
    background-color: #2cccc4;
    /* width: 80rem; */
    /* height: 10rem; */
    box-shadow: 1px 4px 8px -12px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 1px 8px 34px -12px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    /* background-image: url("https://i.ibb.co/Bn1qmJ9/ishan-seefromthesky-Kg-Cbv-OWYu-U0-unsplash.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    position: fixed;
    display: grid;
    max-width: 65.5rem;
    padding: 0px 0px;
    top: 10rem;
    left: 2rem;
    z-index: 12;
  }

  .CardDeckMarg {
    margin: 1rem;
    /* padding-bottom: 2rem; */
  }
  /* .c{
  border:solid #2cccc4;
  border-radius: 50%;
} */

  .SignUpUser {
    margin-top: 1.5rem;
    margin-left: 8rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    background-color: #dee2e6;
    width: 15rem;
    height: 19.5rem;
    box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  }

  .SignUpGymCoach {
    margin-top: 2rem;
    margin-left: 16rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #eeeeee;
    width: 3rem;
    height: 43rem;
    box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  }

  .marg {
    margin-top: 0.35rem;
  }

  .styleButton2 {
    background-color: #2cccc4;
    border-color: #2cccc4;
    color: black;
    font-weight: 400;
  }

  .imageCard {
    width: 6rem;
    height: 8rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .textLeft {
    /* text-align: left; */
    padding-left: 0.5rem;
  }
}
