.imgH {
  height: 30rem;
  width:74rem;
  margin-left: 23rem;
  margin-top: 6.5rem;
}
.slideshowDiv{
  height: 40rem;
  background-color: white;
}
.QDiv{
  height: 40rem;
  background-color: #2cccc4;
}
.quote1{
  width:4rem;
  height:4rem;
  margin-left: 19rem;
  margin-top: 6.5rem;
}
.quote2{
  width:4rem;
  height:4rem;
  margin-left: 92rem;
}
.quoteText{
  width: 70rem;
  color: white;
  font-weight: 200;
  font-size: 2.5rem;
  text-align: left;
  font-family: Oswald, sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.place{
  margin-left: 23rem;
  margin-top: 20rem;
}
.imageCard {
  width: 7rem;
  height: 7rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.colGap{
  padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

.newMarg {
  margin-bottom: 2rem;
  padding: -4rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
}
.redBorder{
  border:soled red 5px;
}
.padd {
  width:75rem;
  margin-left: 23rem;
  margin-top: 3rem;
}

.pointer {
  cursor: pointer;
}

.buttonStyleHome {
  border-color: #2cccc4;
  border-radius: 0px;
  width: 6.5rem;
  height: 2.5rem;
}

.boldStyle {
  font-weight: bold;
  font-size: 1.5rem;
}

.descriptionStyle {
  font-weight: 400;
  font-size: 1.2rem;
}

.borderStyleAll {
  align-items: right;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  width: 47.8rem;
  height: 40.5rem;
  padding-top: 5.6rem;
  margin-top: 7.2rem;
  margin-left: 69rem;
  padding-left: 2.6rem;
  margin-bottom: 6rem;
}

.bigTittle {
  width: 50rem;
  color: white;
  font-weight: 400;
  font-size: 4.9rem;
  text-align: left;
  font-family: Oswald, sans-serif;
  padding: -30rem;
}

.bigTittle2 {
  color: white;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: left;
  font-family: Oswald, sans-serif;
}

.borderStyleT {
  border: white;
  border-style: solid;
  background-color: white;
  margin-top: 3.5rem;
  width: 33rem;
  height: 1rem;
}
.About{
  margin-left: 18rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  height: 30rem;
  background-color: white;
  width: 70%;
}
.ourPhoto{
  height:16rem ;
  width: 100%;
}