.marginTopProfile{
  margin-top: 7.5rem;
  margin-left: 3rem;
}

.gridProfileStyle1{
  display: grid;
  grid-template-columns: 1fr 3fr 3rem;
}

.myProfileInUserProfileDev{
  background-color: #2A2529;
  height: 50rem;
}

.myPostInUserProfileDev{
  padding-left: 3rem;
}

.ImageProfileUserStyle{
  width: 100%;
  height: 25rem;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
}

.nameLabelUser1{
  color: white;
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  padding-left:4rem;
}

.desLabelUser1 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-left: 4rem;
  height: 8rem;
}

.ButtonProfileUser1{
  background-color: #2A2529;
  color: white;
  border-color: #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 10rem;
}

.ButtonProfileUser2{
  background-color: #2A2529;
  color: white;
  border-color: #2cccc4;
  font-weight: 400;
  margin-left: 1rem;
  font-size: 1.5rem;
  width: 10rem;
}

.styleButtonProfile5{
  padding-left: 4rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.editProfileUserStyle12{
  padding-left: 2rem;
  margin-top: 2rem;
  color: white;
}

.nameLabelUser123{
  color: white;
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  padding-left:4rem;
  margin-bottom: 1rem;
}

/* font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 3rem; */

.desLabelUser123 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-bottom: 0.3rem;
}

.marginFormControlUserProfile1{
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonSaveEditProfileUser1{
  background-color: #2A2529;
  color: white;
  border-color: #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 3.8rem;
  margin-top: 1rem;
}

.styleMessageProfileSave1{
  padding-left: 9rem;
}

.nameLabelDeleteProfileUser1{
  color: white;
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  padding-left:6.5rem;
  padding-top: 10rem;
  margin-bottom: 3rem;
}

.messageDeleteProfile1{
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-bottom: 0.3rem;
  width: 25rem;
  text-align: center;
}

.ButtonDeleteProfileUser1{
  border: solid 2px #2cccc4;
  background-color: #2A2529;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 5.8rem;
  margin-top: 3rem;
  height: 3.5rem;
  border-radius: 0.2rem;
}

.ButtonDeleteProfileUser12{
  border: solid 2px #2cccc4;
  background-color: #2A2529;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 5.8rem;
  margin-top: 2rem;
  height: 3.5rem;
  border-radius: 0.2rem;
}

.gridPostFavUserProfile{
  display: grid;
  grid-template-columns: 0.8fr 2fr 3rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  margin-bottom: 2.5rem;
  margin-top: 0.8rem;
  width: 80rem;
  height: 15rem;
}

.imagePostFavUser1{
  width: 100%;
  height: 15rem;
}

.scrollUserProfile1{
  height: 42rem;
  overflow: auto;
}

.nameLabelPostFavUser1{
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.textPostFavUserProfile12{
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 4rem;
  width: 50rem;
  height: 10rem;
  padding-top: 0.6rem;
}

.buttonDeletePostFavUser1{
  background-color: #fff;
  border-color: #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 3.9rem;
  margin-top: 1rem;
}

.allDevStyleGymProfile1{
  margin-left: 25.7rem;
  margin-top: 7.8rem;
  width: 60%;
  height: 48rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3rem;
}

.imageProfileGym1{
  width: 30rem;
  background-color: #2A2529;
  color: white;
}

.infoProfileGym1{
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);

}

.imageSizeProfileGym1{
  width: 100%;
  height: 35rem;
  margin-bottom: 5.5rem;
}

.buttonEditProfileGym1{
  background-color: #2A2529;
  color: white;
  border-color: #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 10rem;
  margin-left: 4.5rem;
  margin-right: 1rem;
}

.buttonDeleteProfileGym1{
  background-color: #2A2529;
  color: white;
  border-color: #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 10rem;
}

.nameEditGymProfile{
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 4rem;
  margin-left:10rem;
  margin-top: 12rem;
  margin-bottom: 3rem;
}

.textEditGymProfile {
  font-size:2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 8rem;
  margin-left:10rem;
}

.paddingGymProfile{
  padding-bottom: 1rem;
}

.nameLabelUser1234{
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  padding-left:14rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.desLabelUser1234 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 14rem;
  padding-bottom: 0.3rem;
}

.marginFormControlUserProfile14{
  margin-top: 0.2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonSaveEditProfileUser14{
  border-color: #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 13.8rem;
  margin-top: 1rem;
}

.styleMessageProfileSave14{
  padding-left: 19rem;
}

.imageSizeProfileGym14{
  width: 100%;
  height: 48rem;
}

.nameLabelDeleteProfileUser11{
  font-weight: 800;
  font-family: Oswald, sans-serif;
  font-size: 4rem;
  padding-left:4rem;
  padding-top: 10rem;
  margin-bottom: 2.5rem;
}

.messageDeleteProfile12{
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-bottom: 0.3rem;
  width: 25rem;
  text-align: center;
}

.ButtonDeleteProfileUser111{
  background-color: white;
  border: solid 2px #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 5.8rem;
  margin-top: 3rem;
  height: 3.5rem;
  border-radius: 0.2rem;
}

.ButtonDeleteProfileUser123{
  background-color: white;
  border: solid 2px #2cccc4;
  font-weight: 400;
  font-size: 1.5rem;
  width: 17.8rem;
  margin-left: 5.8rem;
  margin-top: 2rem;
  height: 3.5rem;
  border-radius: 0.2rem;
}

.paddingStyleGym{
  padding-left: 6.8rem;
  margin-top: 2rem;
}