* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.copyRight {
  font-size: 20px;
}

.borderCopyRight {
  margin-bottom: 0px;
  border-color:#2A2529;
  background-color: #2A2529;
  color: white;
  padding: 1em;
  text-align: center;
  height: 15rem;
  margin-top: 0rem;
}
