.body1 {
  background-image: url("https://i.ibb.co/bRBH7r7/Remini20210706001710208.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px;
    padding-bottom: 18rem;

  }

  .Login form {
    margin: 0 0;
    max-width: 320px;
  }
}

.styleLogin {
  margin-top: 9rem;
  margin-left: 12.5rem;
  padding-left: 4.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #dee2e6;
  width: 29.5rem;
  height: 23rem;
  box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 34px -12px rgba(0, 0, 0, 0.75);
}

.pointer{
    cursor:pointer;
  }

  .marg {
    margin-top: 0.7rem;
  }
