.colorNav {
  background-color: #ffffff !important;
  height: 6rem;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.styleButton{
  /* background-color: #2CCCC4; */
  border-color: #2CCCC4;
  color:black;
  font-weight: 400;
  width: 6rem;
}

.logo{
  width: 8rem;
}
