.Search {
  margin-left: 7rem;
  margin-top: 10rem;
  width: 113rem;
}

.noResultStyle1 {
  font-weight: 200;
  font-size: 1.5rem;
  padding-left: 0.6rem;
  margin-top: -2rem;
}
.titleSearchStyle1 {
  padding-left: 0.6rem;
  color: #2cccc4;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  padding-bottom: 3.5rem;
}
.p3 {
  display: flex;
  
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.titleName123{
  font-weight: 600;
  font-size: 2.5rem;
}

.p3 img {
  width: 202px;
  height: 157px;
  padding-right: 20px;
}

.hrStyleSearch1{
  width: 100%;
  background-color:rgb(223, 223, 223) ;
  border: solid rgb(223, 223, 223) 0.3px;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}

.nameNameStyle1{
  font-weight: 400;
  font-size: 2rem;
}

