.Search {
  margin-left: 7rem;
  margin-top: 10rem;
  width: 113rem;
}

.p1 {
  color: #2cccc4;
  font-weight: bolder;
  font-size: 25px;
}
.titleSearchStyle1 {
  padding-left: 0.6rem;
  color: #2cccc4;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: Oswald, sans-serif;
}
.p3 {
  display: flex;
  color: #000000;
  font-weight: bolder;
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.p3 img {
  width: 202px;
  height: 157px;
  padding-right: 20px;
}

.hrStyleSearch1{
  width: 100%;
  background-color:rgb(223, 223, 223) ;
  border: solid rgb(223, 223, 223) 0.5px;
  margin-bottom: 1rem;
}